header {
  background-color: #63c178;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.homelink {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 32px;
  text-decoration: none;
  font-weight: normal;
}

.link {
    color: white;
    text-decoration: underline;
}