
.maincontainer {
    display: flex;
}

main {
    flex: 60%;
}

.test {
    width: 600px;
    margin: 0 auto;
}

.inputarea {
    flex: 40%;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

.reslist {
    background-color: white;
    padding: 24px;
    white-space: pre-line;
}

.inputarea{
    display: flex;
    flex-flow: column;
    align-items:center;
    padding-top: 100px;

}

textarea {
    width: 250px;
    height: 150px;
    padding: 8px;
}

textarea:focus {
    outline: 0;
  }

button {
    width: 150px;
    margin-top: 16px;
    color: white;
    background-color: #63c178;
    padding: 8px 32px;
    border-radius: 8px;
    border:none;
}

button:hover {
    opacity: 80%;
    cursor:pointer;
  }


  @media only screen and (max-width:800px) {
    .maincontainer {
        display: flex;
        flex-flow: column;
    }

    textarea {
        width: 500px;
        height: 150px;
        padding: 8px;
    }
    

}